<%= div_for project do %>
	<div class="large-12 cloumns border border-box glassy-bg mt pt">
		<strong><%= h(project.pro) %></strong><br /> 
		<sup class="text-muted">From <%= time_ago_in_words(project.created_at) %></sup><br />
		<div class="mb pb"> 
			<%= h(project.content) %>
		</div>
		<div class="tags">
		<%=raw tag_links(project.all_tags) %>
		</div>
	</div>
<% end %>
	